@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #b3b3dd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    width: 900px;
    height: 520px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 10px;
  }





/*card left*/
.card-left{
    width:311px;
    overflow: hidden;
  }
  .main-image{
    display: flex;
    transition: all 0.5s ease;
  }
  .main-image img{
    width :311px;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
.img-select{
    display: flex;
    margin-top: 2px;
  }
.img img{
    width :76px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    margin: 1px; 
}
.img-select img:hover{
  transform: scale(1.2);
}
.img-select .active{
  border: 1px solid rgb(10, 10, 10);
}





 /* card right*/
.card-right{
  padding-left: 20px;
}
.card-right h2{
  font-weight: 400;
}
.star1{
  display: flex;
  gap: 20px;
  cursor: pointer;
  border:none;
  color: gold;
}
.star-group ion-icon{
  color:rgba(0,0,0,0.3)
}
.star-group{
  display: flex; 
}
.box{
  display: flex;
  flex-direction: row;
  align-items: start; 
}
.star{
  border: none;
  background-color: #b3b3dd;
  font-size: 30px;
  color: gold;
}
#para{
  position: relative;
  bottom: 7px;
  left: 5px;
}
.card-right h4{
  font-size: 18px;
  font-weight: 500;
}
.card-right h4 span{
  text-decoration: line-through;
  color:rgba(0,0,0,0.2);
  font-size:15px;
  padding-left: 15px;
}
.card-right p{
  margin: 10px 0;
  color:rgba(0,0,0,0.5);
  padding:3px 0 ;
}
.card-right ul{
  padding: 15px;
}
.form{
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 10px;
}
.form-group label,
.form-group select
{
display: block;
}
.form-group select{
  width: 150px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.input-group{
display:flex;
width: 220px;
height: 30px;
}
.input-group input{
  width: 50px;
  border: 1px solid #ccc;
  outline: none;
  padding-left:20px ;
  font-size: 18px;
}
.input-group button{
  width: 30px;
  outline: none;
  border: none;
  background-color: #111;
  color:white;
}
.btn-cart{
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  color:white;
  background-color: #FF8401;
  font-size: 16px;
  cursor: pointer;
}
